footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

.page-header {
	padding-left: 20px;
}

.fav-link {
	padding: 5px;
}

.fav-link:hover {
	padding: 5px;
	font-weight: 900;
	text-decoration: underline;
	cursor: pointer;
}